.optionsContainer {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.optionsHidden {
  display: none;
}

.optionsContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.options {
  height: 40%;
  width: 30%;
  z-index: 100;
  opacity: 0.95;
  background-color: #4e4187;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.options h1 {
  margin-top: 1rem;
  font-size: xxx-large;
  font-family: "Karla", sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 2.13rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: .25rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ebfa5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ebfa5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.6rem);
  -ms-transform: translateX(1.6rem);
  transform: translateX(1.6rem);
}

.cameraLock {
    margin: 10% 10% 0 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.cameraLock h4 {
    font-size: x-large;
    font-family: "Karla", sans-serif;
}

.optionButtons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.optionOkButton,
.optionExitButton {
  border-radius: 5rem;
  margin: 0 auto;
  padding: 1rem;
  width: 45%;
  margin-bottom: 1rem;
  font-size: x-large;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.optionOkButton {
  background: linear-gradient(#2ebfa5, #7dde92);
}

.optionExitButton {
  background-color: #c33c54;
}

.optionGear,
.optionGearSpin {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
  height: 2rem;
  z-index: 5;
  cursor: pointer;
}

.optionGearActual {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.optionGearSpin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
