* {
    box-sizing: border-box;
  }

  .cardImageActual {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 250px);
    grid-gap: 3rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .card {
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 150px 75px;
  }
  
  .cardImage {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .cardTitle {
    background-color: #2EBFA5;
    color: white;
    border-radius: 0 0 1rem 1rem;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .cardTitle h3 {
    font-weight: 300;
  }

  .cardTitle h4 {
    padding-top: .5rem;
  }


.editGear,
.editGearSpin {
  height: 5%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

.editGearActual {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.editGearSpin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}