* {
    box-sizing: border-box;
}

.loginPage {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Bad Script', cursive;
    margin: 5%;
    font-size: 50px;
}

.signUp {
    margin: 40px;
    font-size: 30px;
    color: rgba(165, 99, 99, 0.892);
    font-style: italic;
    font-weight: 500;
}

.signIn {
    margin: 10px;
    font-size: smaller;
}

.gif {
    border-radius: 15%;
    display: inline-block;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {

.container {
    display: inline-block;
}

.signUp {
    margin-bottom: 10vh;
}

.gif {
    width: 75%;
    margin-top: 10vh;
}

}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

.container {
    display: inline-block;
}

.signUp {
    margin-bottom: 10vh;
}

.gif {
    width: 75%;
    margin-top: 12vh;
}

}