body {
  margin: 0;
  padding: 0;
  color: #F8FFE5;
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6, div, p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
